body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
  }
  
  .forgot-password-container {
    background: #111;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forgot-password-form h2 {
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin: 15px;
    position: relative;
  }
  
  .input-container i {
    position: absolute;
    left: 10px;
  }
  
  .input-container input {
    padding: 10px;
    padding-left: 30px;
    width: 250px;
    border: none;
    border-radius: 5px;
    background: transparent;
    outline: none;
    color: #fff;
  }
  
  .forgot-password-form button {
    margin: 5%;
    padding: 10px 53px;
    border: 1px solid yellow;
    border-radius: 26px;
    background: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .forgot-password-form button:hover {
    background: linear-gradient(to right, #00b3e6, #e6b800);
  }

  .forgot-password-form a {
    color: #00d4ff;
    text-decoration: none;
  }
  
  .forgot-password-form a:hover {
    text-decoration: underline;
  }

  .message {
    color: green;
    margin-top: 10px;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
