@import 'react-toastify/dist/ReactToastify.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.register-container {
  position: relative;
  background: transparent;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 6px solid; /* Adjust border width as needed */
  border-image: linear-gradient(to right , #00b3e6, #e6b800) 1;
  clip-path:  polygon(-18% 0%, 17% -46%, 33% 4.5%, 107% 12%, 108% 97%, 71% 148%, 64% 94%, -222% 83%);
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form h2 {
  font-size: xx-large;
    margin-bottom: 2px;
    margin-top: 0px;
}

.register-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}


.register-input-container input {
  padding: 15px;
  padding-left: 10px;
  width: 400px;
  border: none;
  border-bottom: 1px solid;
  background: transparent;
  outline: none;
  color: #fff;

}
.register-input-container select {
  padding: 15px;
  padding-left: 10px;
  width: 420px;
  border: none;
  border-bottom: 1px solid;
  background: transparent;
  outline: none;
  color: #fff;

}

.register-option{
  background:#000;
  color: #fff;
  border: none;
  outline: none;
}

.register-form button {
  margin: 3% 0%;
  padding: 12px 175px;
  border: 1px solid yellow;
  border-radius: 27px;
  background: transparent;
  color: white;
  cursor: pointer;
}

.register-form button:hover {
  background: linear-gradient(to right, #00b3e6, #e6b800);
}

.register-link-container {
  display: flex;
  justify-content: space-between;
  width: 79%;
}

.register-link-container a {
  color: #00d4ff;
  text-decoration: none;
}

.register-link-container a:hover {
  text-decoration: underline;
}

.inverted-icon {
    transform: scaleX(-1);
}

.error {
  color: red;
  margin-top: 10px;
}
